node_modules
.next
out
.turbo
.env
.env.*
dist
coverage
uploads
pnpm-lock.yaml
package-lock.json
yarn.lock
.DS_Store
**/.venv
apps/api/db.sqlite3
**/__pycache__/
**/*.pyc
**/*.pyo
apps/api/media/
apps/api/staticfiles/
